@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ToDo App!</h1>
    <h3 class="text-primary p-3">A simple To do list to manage it all</h3>
    <a class="btn btn-primary m-3" asp-controller="ToDo" asp-action="Index">Get Started</a>
    <h4 class="text-secondary">
        Easily manage your personal tasks, family projects, and
        team’s work all in one place
    </h4>
</div>
