@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ToDo App!</h1>
    <h3 class="text-primary">A simple To do list to manage it all</h3>
    <a class="btn btn-primary" asp-controller="ToDo" asp-action="Index">Get Started</a>
</div>
